{% extends 'base.html' %} 
{% block content %} 
    {% include 'main/components/navbar.html' %}

    <div class="container">
        <h1>{{asset.name}}</h1>
        <div class="row">
            <div class="col-6">
                <ul class="collection">
                    {% for holder in asset.employee_set.all %} 
                        <li class="collection-item">{{holder.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>              
    </div>
{% endblock %}